<!DOCTYPE html>
<html>
<head>
    <title>Resume Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Professional Resume Builder</h1>
<form action="/preview" method="post" class="resume-form p-4 bg-white shadow rounded">
        
        
        <h4 class="section-title">Personal Info</h4>
        <input name="name" placeholder="Full Name" class="form-control mb-3" required>
        <input name="email" placeholder="Email" class="form-control mb-3" required>
        <input name="phone" placeholder="Phone" class="form-control mb-3" required>
        <input name="address" placeholder="Adress" class="form-control mb-3" required>

        <h4 class="section-title">Summary</h4>
        <textarea name="summary" rows="3" class="form-control mb-3"></textarea>

        <h4 class="section-title">Experience</h4>
        <textarea name="experience" rows="4" class="form-control mb-3"></textarea>

        <h4 class="section-title">Education</h4>
        <textarea name="education" rows="4" class="form-control mb-3"></textarea>

        <h4 class="section-title">Skills</h4>
        <textarea name="skills" rows="3" class="form-control mb-3"></textarea>

        <h4 class="section-title">Projects</h4>
        <textarea name="projects" rows="3" class="form-control mb-3"></textarea>

        <h4 class="section-title">Certifications</h4>
        <textarea name="certifications" rows="3" class="form-control mb-3"></textarea>

        <h4 class="section-title">Languages</h4>
        <textarea name="languages" rows="2" class="form-control mb-3"></textarea>

        <h4 class="section-title">Interests</h4>
        <textarea name="interests" rows="2" class="form-control mb-3"></textarea>

        <h4 class="section-title">References</h4>
        <textarea name="references" rows="2" class="form-control mb-3"></textarea>

       
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary px-5">Preview Resume</button>
        </div>
    </form>
</div>
</body>
</html>
